@font-face{
    font-family: 'bmitra';
    src: url('../fonts/BMitra.eot');
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BMitra.woff') format('woff'),
         url('../fonts/BMitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.large{font-size:25px;}
.medium{font-size:18px;}
.small{font-size:17px;}
.x-small{font-size:15px;}
.latinfont{
	font-family: Arial, Helvetica, sans-serif;
}
.clear{clear:both;display:block;width:0 !important;height:0 !important;min-height:0 !important;min-width:0 !important;margin:0 !important;padding:0 !important;overflow:hidden}
a{
	text-decoration: none;
}
.rtl{
	direction: rtl;
}
h1,h2,h3,h4,h5,h6,p,a,span{
	font-family: 'bmitra';
}
h1{
	font-size: 30px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 22px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}
p,span{
	font-size:17px;
}
div.buttons{
	margin-top: 30px;
}
.circle{
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}
/************************************Internet page*************************************/
.buttons{
	position: relative;
}
.buttons a {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
	width: 84px;
	height: 84px;
	display: block;
	position: relative;
	line-height: 84px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}
.buttons a:active {
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}
.buttons a::before{
	content: '';
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #eaeaea;
	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
	opacity: 0.5;		
}
.buttons a:active::before {
	top: -9px;
}
.buttons a:hover::before { opacity: 1; }
.buttons a.shatel:hover::before {
	background-color: #c6f0f8;
}
.buttons a.mokhaberat:hover::before {
	background-color: #dae1f0;
}
.buttons a.fanava:hover::before {
	background-color: #fadae6;
}
.buttons a.pars:hover::before {
	background-color: #f8ebb6;
}
.shatel img { vertical-align: -7px; }
.fanava img { vertical-align: -12px; }
.mokhaberat img { vertical-align: -12px;}
.pars img { vertical-align: -7px;}
.buttons a img { border: 0; }

span.verline{
	display: inline-block;
	position: absolute;
	top: -50px;
	right: 130px;
	width: 1px;
	height: 500px;
	background: url('../images/line.jpg') repeat-y left;
}

span.horline{
	display: inline-block;
	position: absolute;
	top: -30px;
	right: 80px;
	width: 730px;
	height: 1px;
	background: url('../images/line.jpg') repeat-x center;
}